@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.grid {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(3, 1fr);
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm {
    grid-template-columns: 1fr;
  }
}
